.container {
  width: 1200px;
  border: 1px dashed lightblue;
  display: flex;
  margin: 0 auto;

  .panel,
  .panel {
    padding: 25px;
  }

  .left-panel {
    width: 40%;
    border-right: 1px dashed lightblue;
  }

  .right-panel {
    width: 60%;
  }

  &.bottom-container {
    margin-top: 30px;
  }
}